*{
    margin: 0;
    font-family: "Oswald", sans-serif;
    box-sizing: border-box;
}

/* Navbar Section */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: black;
    color: white;
}

.logo{
    color: white;
    text-decoration: none;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.hamburger {
    display: none; 
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    transition: all 0.3s ease-in-out;
}


@media screen and (max-width: 768px) {
    .hamburger {
        display: block; 
    }

    .nav-link{
        color: black;
    }

    .nav-menu {
        position: fixed;
        left: -100%; 
        top: 60px; 
        flex-direction: column;
        background-color: white;
        width: 100%;
        text-align: center;
    }

    .nav-menu.active {
        left: 0;
    }
}

/* Hero Section */

.hero-section {
    height: 75vh;
    background-image: url('assets/hero.jpg');
    background-size: cover;
    background-position: center;
    background-color: #333; 
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    padding: 20px;
    max-width: 600px;
    text-align: center; 
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.hero-content p {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.hero-button {
    display: inline-block; 
    padding: 10px 30px;
    background-color: #333; 
    color: white;
    text-decoration: none; 
    border-radius: 5px;
    font-weight: bold;
}

/* Explanation Section */

.explanation-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.explanation-content{
    text-align: center;
    width: 300px;
}

.explanation-content h2{
    font-size: 20px;
    padding-top: 10px;
}

.explanation-content p{
    font-size: 15px;
    padding-top: 10px;
}

/* Featured Content */

.featured-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    padding-top: 50px;
    width: 100%;
    background-color: #f9fbfa;
}

.featured-content h2{
    color: #333;
}

.featured-content p{
    width: 70%;
    text-align: center;
}

.featured-content img{
    padding-top: 20px;
    padding-bottom: 50px;
}

/* Secondary Content */

.secondary-content{
    display: flex;
    padding-top: 40px;
    width: 70%;
    margin-left: 150px;
    box-sizing: border-box;
}

.content{
    display: flex;
    gap: 50px;
}

.content-desc{
    text-align: center;
}

.content-desc p{
    margin-top: 15px;
}

.btn-view{
    display: inline-block; 
    padding: 10px 30px;
    background-color: #fff; 
    color: lightblue;
    border-color: lightblue;
    text-decoration: none; 
    border-radius: 10px;
    margin-top: 20px;
}

/* heard section */

.heard-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    padding-top: 50px;
    width: 100%;
    background-color: #f9fbfa;
    margin-bottom: 50px;
}

.heard-section p{
    width: 75%;
}



